body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150%;
}

header {
    background-color: #d3d3d3;
}

nav {
    background-color: #b7e3e3;
}

main {
    background-color: #ffff00;
    font-size: 16px;
}

footer {
    background-color: #d3d3d3;
}

li {
    display: inline-block;
    width: 30%;
}

h1 {
    text-align: center;
    font-family: cursive;
    color: #000080;
}

p {
    line-height: 1.5;
}
